<div class= "container">
  <div class = "row">
    <div class = "col-lg-8 mx-md auto">
      <%= form_with(model: [@user, product], local: true) do |form| %>
        <% if product&.errors&.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product&.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% product&.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name,class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :brand %>
          <%= form.text_field :brand,class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :price %>
          <%= form.text_field :price ,class:'form-control'%>
        </div>

        <div class="form-group">
          <%= form.label :images %>
          <%= form.file_field :images ,class:'form-control',multiple: true %>
        </div>

        <div class="form-group">
          <%= form.submit class: "btn btn-primary btn-lg" %>
      </div>
      <% end %>
      <%= link_to 'Back', products_path(@user) %>
    </div>
  </div>
</div>

